{%extends "base.html"%}
{% load static %}
{% load bootstrap5 %}
{% block content %}
{% load crispy_forms_tags %}

<h3 class="text-center text-uppercase" style="color:rgb(13, 13, 240)"><strong>Comments</strong></h3>

<div class="container">
    <hr>
    <div class="row">
        <!-- Empty div -->
        <div class="col-md-5">
            <div class="card" style="width: 100%; height: 100%;">
                <div class="img">
                    <a href="#{{image.id}}" data-toggle="modal" data-target="#{{image.id}}">
                        <img style="width:100%;max-width:100%" class="card-img-top" src="{{image.image.url}}" class="img-responsive"
                            alt="{{image.name}}">
                    </a>
                </div>
                <div class="card-block">
                    <br>
                    <img src="https://img.icons8.com/material-outlined/24/000000/filled-like.png" />
                    <img src="https://img.icons8.com/material-outlined/24/000000/speech-bubble--v2.png" />
                    <img src="https://img.icons8.com/windows/32/000000/filled-sent.png" />

                    <h5 class="card-title"><span class="" style="font-weight: 700;">{{image.profile}}</span>
                        {{image.caption}}
                    </h5>
                    <form class="form" action="" method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="col-md-5">
                            <button type="submit" class="btn btn-sm btn-info"
                                style="margin-top:14px; margin-left:-10px">comment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>

        <div class="col-md-6">
            <h4 style="font-weight:bold;">Comments</h4>
            <hr>
            {%for comment in comments%}
            <p><strong class="text-secondary">{{comment.user.user}}</strong> {{comment.comment}}</p>
            {%endfor%}
        </div>
        <hr>
    </div>
</div>
{% endblock %}